.item-feature {
  width: 100%;
  position: relative; }
  .item-feature .item-picture {
    float: left;
    width: 50%;
    min-height: 100%;
    position: relative; }
    .item-feature .item-picture img {
      width: 100%; }
  .item-feature .item-info {
    float: right;
    width: 45%;
    min-height: 100%;
    padding: 0 2.5%; }
    .item-feature .item-info a {
      text-decoration: none; }
    .item-feature .item-info h2.title {
      color: #191919;
      font-size: 2.5em;
      font-weight: 600;
      display: block; }

#feed-item .item-info h2.title:hover {
  cursor: pointer; }
#feed-item .item-picture img:hover {
  cursor: pointer; }

.item-info-bid table {
  width: 100%;
  margin-top: 2.5%; }
  .item-info-bid table h1.bid {
    color: #3bf779;
    font-size: 8vw;
    font-weight: 700; }
  .item-info-bid table .bit-button {
    vertical-align: middle; }
  .item-info-bid table .bid-button button {
    -webkit-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    border: none;
    padding: 20px;
    background: #3bf779;
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    width: 100%; }
  .item-info-bid table .bid-button button:hover {
    background: rgba(59, 247, 121, 0.5); }

.item-info-details table {
  margin-top: 2.5%;
  width: 100%; }
  .item-info-details table td {
    padding: 2px 15px; }
  .item-info-details table .item-remaining-time {
    width: 20%;
    color: #e95252;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    vertical-align: middle; }
  .item-info-details table .item-bid-amount {
    width: 20%;
    color: #191919;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    vertical-align: middle; }
  .item-info-details table .item-top-bidder {
    width: 60%;
    color: #191919;
    font-size: 1.5em;
    font-weight: 500;
    text-align: left;
    vertical-align: middle; }
    .item-info-details table .item-top-bidder img {
      float: left;
      margin-right: 10px; }
    .item-info-details table .item-top-bidder p {
      display: block; }

.item-bottom {
  border-top: solid 1px #f7f7f7;
  margin-top: 10px;
  padding-top: 10px; }
  .item-bottom .discussion {
    width: 70%;
    float: left; }
  .item-bottom .add-comment {
    border-bottom: solid 1px #f7f7f7;
    padding-bottom: 10px; }
    .item-bottom .add-comment table {
      width: 100%; }

.comment-username {
  font-size: 1em;
  font-weight: 700;
  vertical-align: top; }

.comment-row {
  border-bottom: solid 1px #f7f7f7; }
  .comment-row td {
    padding: 20px 0; }

.comment-text {
  width: 70%;
  font-weight: 300;
  line-height: 1.75em;
  font-size: 1em;
  vertical-align: top; }

.comment-textarea {
  width: 70%;
  position: relative;
  vertical-align: top; }
  .comment-textarea button {
    position: absolute;
    right: 7%;
    top: 10px;
    background: rgba(59, 247, 121, 0.5);
    border: none;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    display: block;
    width: 25px;
    height: 25px;
    font-size: 1em;
    color: white;
    font-weight: 500;
    text-align: center;
    vertical-align: middle; }
  .comment-textarea button:focus {
    outline: none !important; }
  .comment-textarea textarea {
    width: 90%;
    padding: 10px;
    border: solid 1px #f0f0f0;
    -webkit-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    font-size: 1em;
    min-height: 30px;
    background: whitesmoke;
    resize: none; }
  .comment-textarea textarea:focus {
    border: solid 1px #3bf779;
    outline: none !important;
    -webkit-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    background: #f7f7f7; }

.center-cell {
  text-align: center;
  font-size: 0.75em;
  font-weight: 700; }

.left-cell {
  text-align: left;
  font-size: 0.75em;
  font-weight: 700; }

.subheader {
  font-weight: 700;
  font-size: 1.5em;
  padding-bottom: 10px;
  display: block; }

.bid-history {
  width: 30%;
  float: right; }
  .bid-history table {
    width: 100%; }
  .bid-history #bid-history-title {
    background: #f2f2f2;
    width: 100%; }

.bid-history-title {
  width: 90%;
  background: #f0f0f0;
  padding: 5% 5% 0% 5%; }

.bid-history table {
  width: 100%; }
.bid-history tbody tr {
  background-color: whitesmoke; }
.bid-history tbody tr:nth-child(odd) {
  background-color: #f9f9f9; }
.bid-history td {
  padding: 10px; }

.payment-hide {
  display: none;
  opacity: 0; }

.payment-show {
  display: block;
  opacity: 1; }
