<div class="item-bottom">
	<div class="discussion">
		<h2 class="subheader">Discussion</h2>
	<!-- 	Loop through all the comments of the discussion in the current item -->
		<!-- TODO: set item.discussion to $scope.discussion -->
		<div class="add-comment">
				<table>
					<tr>
						<td class="comment-username"><img ng-src="{{currentUser.profile}}" alt="" />	</td>
						<td class="comment-username">
							@{{currentUser.username}} <br />
							{{currentUser.bidAmount}}
						</td>
						<td class="comment-textarea">
							<button id="add-comment" ng-click="addComment()"> + </button>
							<textarea name="comment" placeholder="Write here . . ." rows="3" ng-model="currentComment"></textarea>
						</td>
					</tr>
				</table>

		</div>

		<div  class="comment-container">
				<table>
					<tr class="comment-row" ng-repeat="comment in item.comments">
						<td class="comment-username"> <img ng-src="{{comment.user.profile}}" alt="" /> </td>
						<td class="comment-username">
							@{{comment.user.username}} <br />
							{{comment.user.bidAmount | currency:"$":0}}
						</td>
						<td class="comment-text">
							{{comment.text}}
						</td>
					</tr>
				</table>
    </div><!-- End of individual comment -->

	</div> <!-- End of discussion -->

	<div class="bid-history">
		<div class="bid-history-title">
			<h2 class="subheader">Bid History</h2>
		</div>
		<table>
			<tr ng-repeat="bid in item.bidHistory" >
				<td><img ng-src="{{bid.user.profile}}" alt="" /></td>
				<td class="username">@{{bid.user.username}}</td>
				<td class="bid-amount">{{bid.bidAmount | currency:"$":0}}</td>
			</tr>
		</table>
	</div><!-- End of bid-history -->

</div>
